
<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Tiger Bank{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="container">
  <header class="header">
  {% block header %}
  <nav>
    {% if current_user.is_authenticated %}
    <form action="{{ url_for('auth.logout') }}" method="post" style="display:inline">
      <button class="btn btn-warning" style="width:auto;padding:10px 20px">SAIR</button>
    </form>
    {% endif %}
  </nav>
  {% endblock %}
</header>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for cat, msg in messages %}
        <div class="alert alert-{{ 'success' if cat=='success' else 'error' }}">{{ msg }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}
</div>
<script src="{{ url_for('static', filename='js/app.js') }}?v=9999"></script>

</body>
</html>
