{% extends 'base.html' %}

{% block header %}
<h1>
  <video class="icon-video"
        src="{{ url_for('static', filename='img/tigre1.mp4') }}"
        autoplay
        loop
        muted
        playsinline
        preload="auto">
  </video>
  Empréstimo
</h1>
<nav>
  {% if current_user.is_authenticated %}
  <form action="{{ url_for('auth.logout') }}" method="post" style="display:inline">
    <a class="btn btn-secondary" href="{{ url_for('auth.home') }}">VOLTAR</a>
  </form>
  {% endif %}
</nav>
{% endblock %}

{% block title %}💰 Empréstimo - Tiger Bank{% endblock %}
{% block content %}
<div class="card">
  <form method="post">

    <div class="form-group"><label>Valor</label><input type="number" step="100" min="500" max="50000" name="valor"
        required></div>
    <div class="form-group"><label>Parcelas</label>
      <select name="meses" required>
        <option value="">Selecione</option>
        <option>06</option>
        <option>12</option>
        <option>18</option>
        <option>24</option>
      </select>
    </div>

    <button class="btn btn-success" type="submit">CONFIRMAR</button>
  </form>
</div>
{% endblock %}