
{% extends 'base.html' %}
{% block header %}
<h1>
  <video class="icon-video"
        src="{{ url_for('static', filename='img/tigre1.mp4') }}"
        autoplay
        loop
        muted
        playsinline
        preload="auto">
  </video>
  Extrato
</h1>
<nav>
  {% if current_user.is_authenticated %}
  <form action="{{ url_for('auth.logout') }}" method="post" style="display:inline">
    <a class="btn btn-secondary" href="{{ url_for('auth.home') }}">VOLTAR</a>
  </form>
  {% endif %}
</nav>
{% endblock %}



{% block content %}
<div class="card">
  <div class="extrato-list">
    {% if not txs %}
      <p class="info-text">Nenhuma transação.</p>
    {% else %}
      {% for t in txs %}
      <div class="transaction-item {{ 'negative' if t.amount|float < 0 else '' }}">
        <div class="transaction-date">📅 {{ t.created_at.strftime('%d/%m/%Y %H:%M') }}</div>
        <div class="transaction-header">
          <div class="transaction-type">{{ t.kind }}</div>
          <div class="transaction-value {{ 'negative' if t.amount|float < 0 else 'positive' }}">
            {{ '-' if t.amount|float < 0 else '+' }} R$ {{ '%.2f'|format((t.amount|float)|abs) }}
          </div>
        </div>
        <div class="transaction-description">{{ t.description }}</div>
        <div class="transaction-description">Saldo após: R$ {{ '%.2f'|format(t.balance_after|float) }}</div>
      </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
