
{% extends 'base.html' %}
{% block title %}Home - Tiger Bank{% endblock %}
{% block header %}{% endblock %} 
{% block content %}
<div class="logo">
  <div class="icon-img">
    <img src="/static/img/tigre (1).png" alt="Tiger Bank">
  </div>
  <h1>Tiger Bank</h1>
  <p>Seu Banco Digital Completo</p>
</div>

<div class="container-box">
  <div class="auth-buttons">
    <a class="btn btn-primary" href="{{ url_for('auth.login') }}">ENTRAR</a><br>
    <a class="btn btn-success" href="{{ url_for('auth.register') }}">CRIAR CONTA</a>
  </div>
</div>
{% endblock %}
