{% extends 'base.html' %}
{% block title %}Login - Tiger Bank{% endblock %}

{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container d-flex justify-content-between align-items-center">

        <div class="d-flex align-items-center gap-2">
            <img src="{{ url_for('static', filename='img/tigre.png') }}"
                  alt="Logo Tiger Bank"
                  width="40" height="40" class="rounded-circle">
            <h5 class="m-0 text-white fw-semibold">Entrar</h5>
        </div>

        <a class="btn btn-light fw-semibold px-3" href="{{ url_for('auth.home') }}">
            Voltar
        </a>

    </div>
</nav>
{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center">
    <div class="card shadow-sm p-4 mt-4" style="max-width: 420px; width: 100%;">

        <!-- LOGO -->
        <div class="text-center mb-3">
            <img src="{{ url_for('static', filename='img/tigre.png') }}"
                  alt="Tiger Logo" width="70" height="70" class="rounded-circle mb-2"> 
            <h3 class="fw-bold m-0">Tiger Bank</h3>
            <p class="text-muted">Seu Banco Digital Completo</p>
        </div>

        <!-- TÍTULO -->
        <h4 class="fw-bold mb-3 text-center">🔐 Login</h4>

        <!-- FORM -->
        <form method="post">

            <!-- Email -->
            <div class="mb-3">
                <label class="form-label">E-mail</label>
                <input type="email"
                        name="email"
                        class="form-control"
                        required
                        placeholder="seu@email.com">
            </div>

            <!-- Senha -->
            <div class="mb-2">
                <label class="form-label">Senha</label>
                <input type="password"
                        name="password"
                        class="form-control"
                        required
                        placeholder="Digite sua senha">
            </div>

            <!-- Esqueci minha senha -->
            <div class="text-end mb-3">
                <a class="text-decoration-none small fw-semibold text-primary"
                    href="{{ url_for('auth.esqueci_senha') }}">
                    Esqueci minha senha
                </a>
            </div>

            <!-- Entrar -->
            <button class="btn btn-primary w-100 fw-semibold" type="submit">
                ENTRAR
            </button>

            <!-- Voltar -->
            <a class="btn btn-secondary w-100 mt-2 fw-semibold"
                href="{{ url_for('auth.home') }}">
                VOLTAR
            </a>

        </form>
    </div>
</div>

{% endblock %}
