{% extends 'base.html' %}
{% block title %}Login - Tiger Bank{% endblock %}
{% block content %}
<div class="logo">
  <div class="icon-img">
    <img src="/static/img/tigre (1).png" alt="Tiger Bank">
  </div>
  <h1>Tiger Bank - Login 🔐</h1>
  <p>Seu Banco Digital Completo</p>
</div>

<div class="card login-card">
  <form method="post" class="login-form">
    <div class="form-group">
      <label>E-mail</label>
      <input type="email" name="email" required placeholder="seu@email.com">
    </div>

    <div class="form-group password-group">
      <label>Senha</label>
      <input type="password" name="password" required placeholder="Digite sua senha">
      <a href="{{ url_for('auth.esqueci_senha') }}" class="forgot-password-btn">Esqueci minha senha</a>
    </div>

    <button class="btn btn-primary" type="submit">ENTRAR</button>
    <a class="btn btn-secondary btn-back" href="{{ url_for('auth.home') }}">VOLTAR</a>
  </form>
</div>
{% endblock %}

