{% extends 'base.html' %}
{% block title %}🔄 Transferir - Tiger Bank{% endblock %}

{% block header %}
<div class="profile-header">

    <!-- Ícone -->
    <img class="perfil-icon" src="{{ url_for('static', filename='img/tigre.png') }}" alt="Ícone do Tigre">

    <!-- Título -->
    <h1>Transferência</h1>

    <!-- Botão voltar no canto direito -->
    <nav>
        <a class="btn btn-secondary" href="{{ url_for('dashboard.index') }}">VOLTAR</a>
    </nav>

</div>
{% endblock %}


{% block content %}

<div class="premium-transfer">

    <div class="transfer-header">
        <h2>🔄 Transferir</h2>
    </div>

    <form method="post">

        <!-- Seleção CPF/CNPJ -->
        <div class="form-group enhanced-input">
            <label>Tipo do documento</label>
            <div class="select-wrapper">
            <select name="doc_tipo" id="doc-tipo" class="doc-select">
                <option value="cpf">CPF</option>
                <option value="cnpj">CNPJ</option>
            </select>
            </div>
        </div>

        <!-- Campo CPF/CNPJ -->
        <div class="form-group enhanced-input">
            <label id="doc-label">CPF do destinatário</label>
            <div class="input-wrapper">
                <span class="input-icon">🧑</span>
                <input type="text" id="doc-input" name="documento" placeholder="000.000.000-00" required>
            </div>
        </div>

        <!-- Valor -->
        <div class="form-group enhanced-input">
            <label>Valor</label>
            <div class="input-wrapper">
                <span class="input-icon">💸</span>
                <input type="text" name="valor" class="money-input">
            </div>
        </div>

        <button class="btn transfer-btn" type="submit">CONFIRMAR TRANSFERÊNCIA</button>

    </form>
</div>

{% endblock %}
