# Git
.git
.gitignore

# Virtualenv
venv
.venv
*/__pycache__/
__pycache__/

# Node
node_modules
npm-debug.log
yarn.lock

# Python cache / builds
*.pyc
*.pyo
*.pyd
*.egg-info
dist
build

# IDE
.vscode
.idea

# Ambiente local / configs
instance
.env
*.sqlite3
